<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.narancommunity.app">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.narancommunity.app.MainActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.index.ReleaseAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.index.MakeWishAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.index.FindFourAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.index.RangeAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.index.WallListAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.mine.SettingAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.AddressAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.EditAddressAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.general.AuthoriseFirstAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.general.AuthoriseSecondAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.mine.MyInfoAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.general.LoginAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.general.AgreementAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.general.RegisterAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.general.ForgetAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.general.SplashAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.ReleaseSelectAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <!--<activity-->
        <!--android:name=".activity.NameAndAddressAct"-->
        <!--android:theme="@style/ImageTranslucentTheme"></activity>-->
        <activity
            android:name=".activity.AskPaperAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.WishDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.HelpItAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.DonateDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.MoreCommentAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.IWantAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.DonateWishDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.picbroswer.ImagePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.StartFahuoAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.ExpAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.WishDonateDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.WishFeedBackAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.TransitAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.JubaoAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.general.AppFeedbackAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.AssistantDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.general.ModifyPsdAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.MsgAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.MyCollectionAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.AixinBookHouseAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.AixinBookShelfAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.DonateBookAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.BookDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.BookLendCardAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.BookReviewListAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.AddBookCommentAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.BookReviewDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.ReportAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.RangeBookAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.SearchBookAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.NeedBookAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.BookCommunityAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.BookYSHYDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.BookSHHZAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.BookOrdererListAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.OrderBookAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.index.SingleCommentDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.ShuzhaiAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.MySignAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.MyAttendNewAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.RecommDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.MyReleaseAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.MyWishAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.MyLoveAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.InfoEditAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.love.SettleDownAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.love.CompanyDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.love.AddFootPrintAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.love.LoveSearchAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.IndexSearchAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.LookBookStateAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.DeliverBookAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name="simplezxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>