<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.narancommunity.app">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/xinyuanhai_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/xinyuanhai_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.narancommunity.app.SplashAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.narancommunity.app.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />

        <activity
            android:name="com.narancommunity.app.StartViewAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />

        <!--<activity-->
        <!--android:name=".wxapi.WXEntryActivity"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--android:exported="true"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b067407b27b0a0a3700007d" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Tencent" />
        <!--友盟-->
        <!--QQ-->
        <!--<activity-->
        <!--android:name="com.tencent.tauth.AuthActivity"-->
        <!--android:launchMode="singleTask"-->
        <!--android:noHistory="true" >-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="android.intent.category.BROWSABLE" />-->
        <!--<data android:scheme="tencent100424468" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.tencent.connect.common.AssistActivity"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
        <!--android:configChanges="orientation|keyboardHidden|screenSize"/>-->
        <!--QQ-->
        <!--&lt;!&ndash; 微博&ndash;&gt;-->
        <!--<activity-->
        <!--android:name="com.umeng.socialize.media.WBShareCallBackActivity"-->
        <!--android:configChanges="keyboardHidden|orientation"-->
        <!--android:exported="false"-->
        <!--android:launchMode="singleTask"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>-->
        <!--<activity-->
        <!--android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"-->
        <!--android:configChanges="keyboardHidden|orientation"-->
        <!--android:exported="false"-->
        <!--android:windowSoftInputMode="adjustResize"></activity>-->
        <!--<activity-->
        <!--android:name="com.sina.weibo.sdk.share.WbShareTransActivity"-->
        <!--android:launchMode="singleTask"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!-- 微博-->
        <activity
            android:name=".activity.index.RangeAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.MsgDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.general.HtmlFiveAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.SearchAddressAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.general.AddIDNumAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.general.VerifyMobileAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.PushInfoAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.AuthoriseSuccessAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.index.ReleaseAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.index.MakeWishAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.index.FindFourAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.index.RangeAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.index.WallListAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.mine.SettingAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.AddressAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.EditAddressAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.general.AuthoriseFirstAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.general.AuthoriseSecondAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.mine.MyInfoAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.general.LoginAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.general.AgreementAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.general.RegisterAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.general.ForgetAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.index.ReleaseSelectAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <!--<activity-->
        <!--android:name=".activity.NameAndAddressAct"-->
        <!--android:theme="@style/ImageTranslucentTheme"></activity>-->
        <activity
            android:name=".activity.waste.AskPaperAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.WishDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.HelpItAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.DonateDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.MoreCommentAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.IWantAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.DonateWishDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.picbroswer.ImagePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.StartFahuoAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.ExpAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.WishDonateDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.WishFeedBackAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.TransitAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.JubaoAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.general.AppFeedbackAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.LoveActionAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.general.ModifyPsdAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.MsgAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.MyCollectionAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.AixinBookHouseAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.AixinBookShelfAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.DonateBookAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.BookDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.BookLendCardAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.BookReviewListAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.AddBookCommentAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.BookReviewDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.ReportAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.RangeBookAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.SearchBookAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.NeedBookAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.BookCommunityAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.BookYSHYDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.BookSHHZAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.BookOrdererListAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.BorrowBookAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>

        <activity
            android:name=".activity.index.SingleCommentDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.book.ShuzhaiAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.MySignAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.MyAttendNewAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.RecommDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.MyReleaseAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.MyWishAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.MyLoveAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.InfoEditAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.love.SettleDownAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.love.CompanyDetailAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.love.AddFootPrintAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.love.LoveSearchAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.index.IndexSearchAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.LookBookStateAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.DeliverBookAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"></activity>
        <activity
            android:name=".activity.mine.AddAddressAct"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name="simplezxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".net.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.narancommunity.app" />
            </intent-filter>
        </receiver>

        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8e29143e31c5a2753485b84245b86ce6" />
        <service android:name="com.amap.api.location.APSService"></service>
    </application>

</manifest>